<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-adsense-account" content="ca-pub-3809749496544897">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3809749496544897"
     crossorigin="anonymous"></script>
    <title>Sair</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/logout.css') }}">
</head>
<body>
    <div class="container">
        <h1>Você saiu realizado com sucesso!</h1>
        <p>Você foi desconectado.</p>
        <a href="{{ url_for('index') }}">
            <button>Voltar ao Inicio</button>
        </a>
    </div>
</body>
</html>
