<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-adsense-account" content="ca-pub-3809749496544897">
    <title>Resultado do Abastecimento</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/resultado.css') }}">
</head>
<body>
    <header>
        <h1>Resultado do Abastecimento</h1> 
    </header>
    <div class="container">
        <div class="resultado">
            <p>{{ resultado }}</p>
        </div>
        <div class="image-container">
            <img src="{{ url_for('static', filename='images/empresa.png') }}" alt="Logo" class="logo">    
        </div>
        <h2>Chave Pix</h2>
        <div class="resultado">
            <p>Chave: 19983824281</p>
        </div>
        <h2>Qr Code</h2>
        <div class="qr-container">
            <img src="{{ url_for('static', filename=qr_code_file) }}" alt="QR Code" class="qr-code">
        </div>
        <h2>Copia e Cola</h2>
        <input type="text" value="19983824281" id="pixKey" readonly>
        <button onclick="copyToClipboard()">Copiar</button>
    </div>

    <script>
        function copyToClipboard() {
            var copyText = document.getElementById("pixKey");
            copyText.select();
            document.execCommand("copy");
            alert("Chave Pix copiada: " + copyText.value);
        }
    </script>
</body>
</html>
